<div data-id="{{cartId}}" id="cart">
  <h1>Cart {{cartId}}</h1>
  <div id="products" class="product-grid"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>