<form>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />

  <button class="btn" id="send-button">Send recovery email</button>
</form>
<div id="resultContainer"></div>

<script src="/js/recover.js"></script>